<div class = "text-contents" >
    <% @blogs.each do |blog| %>
    <div class = "blog-content" >
        <div class = "blog-contener">
            本文
            <p><%= blog.text %></p>
        </div>
            <div class = "button-contener">
                <ul class="post-button">
                    <li class ="button-parts">
                        <%= link_to 'SHOW', blog_path(blog.id), method: :get %>
                        <!--<a class = "hedding-post" href="/blogs">SHOW</a>-->
                    </li>
                    <li class ="button-parts">
                        <%= link_to 'EDIT', edit_blog_path(blog.id), method: :get %>
                        <!--<a class = "hedding-post" href="/blogs">EDIT</a>-->
                    </li>
                    <li class ="button-parts">
                        <%= link_to 'DELETE', blog_path(blog.id), method: :delete, class: "alert" %>
                        <!--<a class = "hedding-post" href="/blogs">DELETE</a>-->
                    </li>
                </ul>
                    <div id="dialog">
                        <p>本当に削除してもいいですか？</p>
                        <button id="yes">はい</button>
                        <button id="no">いいえ</button>
                        <button id="cancel">キャンセル</button>
                    </div>
                     
                    <!--<button id="btn">ボタン</button>-->
                        
            </div>
        </div>
    <% end %>
</div>