<div class="contents">
    <% @blogs.each do |blog| %>
        <div class = "blog-contener">
            <p><%= blog.text %></p>
        <div class = "button-contener">
            <ul class="post-button">
                <li class ="button-parts">
                    <%= link_to 'SHOW', blog_path(blog.id), method: :get %>
                </li>
                <li class ="button-parts">
                    <%= link_to 'EDIT', edit_blog_path(blog.id), method: :get %>
                </li>
                <li class ="button-parts">
                    <%= link_to 'DELETE', blog_path(blog.id), method: :delete %>
                </li>
            </ul>
            </div>
        </div>
    <% end %>
</div>