.contents {
    height: 100vh ;
}

.header {
    height: 80px ;
    width: 100% ;
    background-color: #6b8e23 ;
    display: flex ;
}

.header-bar {
    font-size: 50px ;
    /*width: 100%;*/
    margin:0 auto;
}

.hedding-in-post {
    border: 1px solid #6b8e23;
    padding: 20px ;
    text-align: centor ;
    display: flex ;
}


.hedding-post {
    margin: 10px 50px ;
    font-size: 25px ;
    background-color: #6b8e23 ;
    text-decoration: none;
}

.text-contents {
    width: 60% ;
    margin: 0 auto ;
    margin-top: 20px ;
}

.blog-content{
    border: 1px solid white;
    margin:20px;
    background-color: #f5f5f5;
    padding:10px ;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px
}

.blog-contener {
    height: 180px ;
    margin-top: 40px ;
}

li{
    margin: 20px;
}

.post-button {
    display: flex;
    list-style: none;
    text-align:center
}

.button-parts {
    width:100px;
    border: 1px solid #6b8e23;
    padding: 15px ;
    background-color: #6b8e23 ;
    font-size: 20px;
    vertical-align: left;
}

.post{
}

a {
    text-decoration: none;
    text-align: centor ;
    color:#FFFFFF;
}